/*flexbox*/

.cal,body,.displays,.buttons{
    display: flex;
    align-items: center;

}

body{
    background-color:  #1C1C1C ;
    
    justify-content: center;
    
    flex-direction: column;
    
}




.cal{
    
    justify-content: space-around;
    flex-direction: column;
    border: solid 5px black;
    border-radius: 10px;
    margin: 40px;
    height: 600px;
    width: 400px;
    background-color:  #E7E9EA;
}



.displays{
    
    flex-direction: column;
    justify-content: space-around;    
    width: 350px;
    height: 120px;
    padding-right: 7px;
    color: whitesmoke;
    background-color:  #274C43;
    border: solid px black;
    border-radius: 10px;
}

.display{
    width: 350px;
    height: 40px;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    font-size: 25px;
    

}
.display2{
    
    align-items: flex-end;
    justify-content: flex-end;
    width: 350px;
    height: 70px;
    font-size: 50px;
    text-align: right;
}

.buttons{
    flex-wrap: wrap;
    height: 430px;
    width: 360px; 
}

.btn{
    border: solid 2px;
    border-radius: 10px;
    height: 80px;
    width: 86px;
    background-color: transparent;
    margin: 2px;
    font-size: 40px;
    color: whitesmoke;
    background-color: #1C1C1C;
}

.zero,.equal{
    width: 176px;
}

#clear{
    width: 266px;
}

.copyright{
    color: whitesmoke;
    
}

#logo{
    height: 40px;
}

.btn:hover{
    background-color: #2E3135;    
}

#clear:hover{
    background-color: #882336 ;
}

