body{
    background-color:  /* 1C1C1C */ ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: solid 5px black;
    margin: 50px;
    height: 600px;
    width: 400px;
}

/*.buttons,.operators,.digits */

/* .displays, .display, .display2 */
.displays
{
    border: solid 2px black;
    
}

.displays{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 120px;
    padding-right: 7px;
}

.display{
    width: 350px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    font-size: 25px;

}
.display2{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 350px;
    height: 70px;
    font-size: 50px;
    text-align: right;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 430px;
    width: 360px;    
    

}

.btn{
    height: 80px;
    width: 90px;
    background-color: transparent;
}




.digits{
    display: flex;
    flex-wrap: wrap;
    height: 430px;
    width: 280px;
    justify-content: space-around;
}

.operators{
    display: flex;
    flex-wrap: wrap;
    height: 430px;
    width: 80px;
    padding: 0;
    margin: 0;
}

#delete,#clear{
    width: 135px;
}

.zero{
    width: 180px;
}
